*{
    margin: 0;
    padding: 0;
}
.promo{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.colum-1{
    border-right: 1px solid black;
    padding: 21px 50px;
    background-color: rgb(227, 252, 34);
    font-size: 25px;
}
.colum-2{
    display: flex;
}
.nav-items{
    border-left: 1px solid black;
    padding: 21px 75px;
    margin: 2px 0;   
    font-size: 17px;
    cursor: pointer;
}
#nav-items:hover{
    background-color: black;
    color: rgb(227, 252, 34);
    transition: all 1s;
}
.Tshop{
    text-align: center;
    padding-top: 40px;
}
.Tshop h1{
    font-size: 70px;
    padding-bottom: 10px;
    font-weight: 800;
}
.Tshop p{
    font-size: 24px;
    background-color: rgb(227, 252, 34);
    margin: 0 38%;
    padding: 4px;
}
header{
    margin-bottom: 5.5%;
    width: auto;
    height: auto;
}
.shop{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    column-gap: 11px;
    width: auto;
}
.shop-items{
    width: auto;
    height: auto;
}
.shop-row{
    margin-bottom: 4.5%;
}
.drops-head{
    font-size: 25px;
    font-weight: 1000;
    text-align: center;
}
.item-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.drops-container{
    width: 91%;
    margin-left: 5%;
}
.price{
    font-size: large;
    padding-top: 5%;
    padding-bottom: 6.5%;
}
.best-seller{
    background-color: black;
    width: 25%;
    top: 0px;
    left: 0;
    position: absolute;
}
.item-image img{
    position: relative;
}
.shop-button{
    text-align: center;
    margin-bottom: 10%;
}
.button1{
    padding: 12px 50px;
    font-size: 17px;
    background-color: black;
    color: rgb(227, 252, 34);
    transition: 1s;
    border: 0;
    border-radius: 0;
}
.button1:hover{
    background-color: rgb(227, 252, 34);
    color: black;
    border: 2px solid black;
}