*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(244, 249, 215);
    font-size: 20px;
    text-align: justify;
}
h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: -50px;

}
h2{
    padding-bottom: 20px;
    margin-top: 20px;
}
.container{
    margin: 10%;
    width: 70%;
    padding: 50px;
    background-color: aqua;
    box-shadow: 3px 3px 20px rgb(75, 74, 74);
    border-radius: 15px;
    float: right;
    
    
}
.con2{
    align-content: center;
    width: 50%;
    margin-left: 30%;
    
    
}